        /* *{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        body{
            background-image: url("https://images.unsplash.com/photo-1590137303959-f500008a2930?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2FycyUyMHdoaXRlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
            height: 100svh;
            background-size: cover;
            background-attachment: fixed;
        }
       
        #navheader
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #logo
        {
            color: white;
            font-size: 40px;
            margin-left: 20px;
        }
        #logo a{
            gap: 20px;
            text-decoration: none;
            margin-left: 20px;
            margin-left: 20px;
        }
        i
        {
            color: orange;
        }
        #navbar ul
        {
            display: flex;
            flex-direction: row;
            gap: 50px;
        }
        #navbar ul li{
            list-style: none;
        }
        #navbar ul li a{
            text-decoration: none;
            font-size: 22px;
            color: orange;
         }
      
       
        #account
        {
            color: aliceblue;
        }
        
        html{
            scroll-behavior: smooth;
        }
        a{
            cursor: pointer;
        } */
