*
{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?cs=srgb&dl=pexels-mike-b-120049.jpg&fm=jpg");
    background-size: cover;
    height: 100svh;
    background-attachment: fixed;
}

form{
    margin: 5%;
    background-color: rgb(88, 170, 241);
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
    opacity: .9;
}

h1
{
    color: black;
    
}

button,input{
    border-radius: 5px;
    outline: none;
    border: none;
}
input{
    padding: 10px;
    width: 60%;
}
